main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .game-display{
    max-width: 1000px;
    width: 100%;
    background:white;
    padding: 25px 30px;
    border-radius: 20px;
  }

  .game-display .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }

  .game-display .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, var(--colour-primary));
  }

  .game-display .icon-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .button-container {
    width: 250px;
    display: grid;
    grid-row-gap: 10px;
}

.icon-container .info{
    display: flex;
    flex-direction: column;
    margin: 10px 0 12px 0;
    font-weight: 500;
    align-items: center;
}

.icon-container .info .name-plate{
  margin-bottom: 10px;
}

.user-button {
    --button-height: 60px;
    width: 250px;
    height: var(--button-height);
    background-color: var(--colour-primary);

    text-align: center;
    font-weight: bold;
    line-height: var(--button-height);
    color: white;

    border-radius: 20px;
    margin: 0px;
    padding: 0px;

    box-shadow: 0px 5px black;

    z-index: 100;
}

.button-animation {
    animation-name: dim-button;
    animation-duration: 0.1s;
}
.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

@keyframes dim-button {
    from {filter: brightness(1);}
    to {filter: brightness(0.5);}
}

.right{
    margin-top: 1.4rem;
  }
  
  .right .top{
    display: flex;
    justify-content: end;
    gap: 2rem;
  }
  
  .right .top .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
  }
  
  .right .top button{
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    .container{
      width: 100%;
      grid-template-columns: 1fr;
    }
  
    aside{
      position: fixed;
      left: 0;
      background: white;
      width: 12rem;
      z-index: 3;
      box-shadow: 1rem 3rem 4rem var(--box-shadow);
      height: 80vh;
      padding-right: 1.8rem;
      display: none;
      animation: showMenu, 400ms ease forwards;
    }
  
    aside .logo{
      margin-left: 1rem;
    }
  
    aside .logo h2{
      display: inline;
    }
  
    aside .sidebar h3{
      display: inline;
    }
  
    aside .sidebar a{
      width: 100%;
      height: 3.4rem;
    }
  
    aside .sidebar a:last-child{
      position: absolute;
      bottom: 2rem;
    }
  
    aside .close{
      display: inline-block;
      cursor: pointer;
    }
  
    main{
      margin-top: 2rem;
      padding: 0 1rem;
      width: 100%;
    }
  
    main .form{
      width: 100%;
      margin: 0;
    }
  
    .right{
      width: 94%;
    }
  
    .right .top{
      position: fixed;
      top: 0;
      left: 0;
      align-items: center;
      padding: 0 0.8rem;
      height: 4.6rem;
      background: white;
      width: 100%;
      margin: 0;
      z-index: 2;
      box-shadow: 0 1rem 1rem var(--color-light);
    }
  
    .right .top button{
      display: inline-block;
      background: transparent;
      cursor: pointer;
      color: dark;
      position: absolute;
      left: 1rem;
    }
  
  
  }