main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  form{
    max-width: 1200px;
    width: 100%;
    background:white;
    padding: 25px 30px;
    border-radius: 20px;
  }
  
  form .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }
  
  form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, var(--colour-primary));
  }

  form .task-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  form .task-description .select-box{
    margin: 20px 0 12px 0;
    width: calc(100% / 2 -20px);
  }


  form .task-description .input-box{
    margin: 20px 0 12px 0;
    width: calc(100% / 2 -20px);
  }

  .task-description .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .task-description .select-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .task-description .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
  }

  .task-description .select-box select{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
  }

  .task-description .select-box select:focus{
  border-color: var(--colour-primary);
}

.task-description .input-box input:focus{
  border-color: var(--colour-primary);
}

form .button{
  height: 45px;
  margin: 45px 0;
}

form .button input{
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: linear-gradient(135deg,  #71b7e6, var(--colour-primary));
}

form .button input:hover{
  cursor: pointer;
  background: linear-gradient(-135deg,  #71b7e6, var(--colour-primary));
}

.right{
  margin-top: 1.4rem;
}

.right .top{
  display: flex;
  justify-content: end;
  gap: 2rem;
}

.right .top .profile{
  display: flex;
  gap: 2rem;
  text-align: right;
}

.right .top button{
  display: none;
}

@media screen and (max-width: 768px) {
  .container{
    width: 100%;
    grid-template-columns: 1fr;
  }

  aside{
    position: fixed;
    left: 0;
    background: white;
    width: 12rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--box-shadow);
    height: 80vh;
    padding-right: 1.8rem;
    display: none;
    animation: showMenu, 400ms ease forwards;
  }

  aside .logo{
    margin-left: 1rem;
  }

  aside .logo h2{
    display: inline;
  }

  aside .sidebar h3{
    display: inline;
  }

  aside .sidebar a{
    width: 100%;
    height: 3.4rem;
  }

  aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
  }

  aside .close{
    display: inline-block;
    cursor: pointer;
  }

  main{
    margin-top: 2rem;
    padding: 0 1rem;
    width: 100%;
  }

  main .form{
    width: 100%;
    margin: 0;
  }

  .right{
    width: 94%;
  }

  .right .top{
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: white;
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--color-light);
  }

  .right .top button{
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: dark;
    position: absolute;
    left: 1rem;
  }


}