body {
  padding: 1%;
  position: relative;
  text-align: center;
  font-size: 0.88rem;
  font-family: poppins, sans-serif;
  display: flex;
  overflow-x: hidden;
}

main {
  position: absolute;
  padding: 1%;
}

.container {
    margin: 1%;
    position: relative;
    align-items: center;
    display: flex;
    width: 50%;
    gap: 1.8rem;
  }