body, html {
  width: 90%;
  padding: 1%;
  position: relative;
  left: 4%;
  top: 15%;
  font-size: 0.88rem;
  font-family: poppins, sans-serif;
  display: flex;
  overflow-x: hidden;
}

header{
  display: flex;
  position: absolute;
  top: 0%;
}

main {
  position: relative;
  padding: 1%;
  display: flex;
}

.container {
  margin: 1%;
  position: relative;
  align-items: center;
  display: flex;
  height: 30%;
  gap: 1.8rem;
}

.uni-background {
  background-image: url(forum-background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}