{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>

        <title> Taskmaster </title>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon-large.png' %}" />

        <link rel="stylesheet" href="{% static 'default.css' %}">
        <link rel="stylesheet" href="{% static 'sidebar.css' %}">
        <link rel="stylesheet" href="{% static 'waiting-players.css' %}">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
        <meta name="author" content="Matthew Wood" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main id="main" class="main">
            <section id="main-content" class="content-block uni-background">
                <div class="container" style="z-index: 100;">
                    <aside>
                      <div class="top">
                        <div class="logo">
                          <h3 id="username"> {{username}}</h3>
                          <h2>Taskmaster</h2>
                        <div>
                        <div class="close" id="close-btn">
                          <span class="material-icons-sharp">close</span>
                        </div>
                      </div>
              
                      <div class="sidebar">
                        <a href="/home/">
                          <span class="material-icons-sharp">person_outline</span>
                          <h3>Home</h3>
                        </a>
                        <a href="/game/" class="active">
                          <span class="material-icons-sharp">sports_esports</span>
                          <h3>Game</h3>
                        </a>
                        <a href="/home/">
                          <span class="material-icons-sharp">grid_view</span>
                          <h3>Logout</h3>
                        </a>
                      </div>
                    </aside>
                </div>

                <div id="game-display" class="game-display">
                    <div id="task" class="task center" style="top: 20%">
                      Current task: Take the best picture of the campus cat. 
                    </div>

                    <div id="responses" class="responses center" style="top: 55%">
                      <div id="pic1" class="response-picture a")></div>
                      <div id="pic2" class="response-picture b")></div>
                      <div id="pic3" class="response-picture c")></div>

                      <input type="text" id="1"></input>
                      <input type="text" id="2"></input>
                      <input type="text" id="3"></input>
                    </div>

                    <div id="user-options" class="button-container center" style="top: 85%">
                      <div id="create-game" class="user-button disable-select" onmousedown="dim(this.id)"
                                                                                onmouseup="undim(this.id)" 
                                                                                onmouseleave="undim(this.id)"
                                                                                onclick="sort()"> Results
                      </div>
                      <!-- window.location.href = 'results' -->
                    </div>

                </div>
            </section>
            <footer id="footer" class="footer"></footer>
        </main>

        <script src="{% static 'page-logic.js' %}"></script>
        <script src="{% static 'button-dim.js' %}"></script>
        <script src="{% static 'populate-tasks-demo.js' %}"></script>
        <script src="{% static 'ranking.js' %}"></script>
    </body>
</html>