<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <meta charset='utf-8'>
    <title> Taskmaster </title>
    <link rel="stylesheet" href="{% static 'submit-task.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.png' %}" />
    
    <meta name="author" content="Kwadwo Oppong-Mensah" />
  </head>
  
  <body>
    <main class="main" id="main">
      <video id="player" autoplay></video>
      <button id="capture">Capture</button>
      <canvas id="canvas" width=320 height=240></canvas>
      
      <button id="submitimage">Submit Image</button>
      <script type="text/javascript">
          document.getElementById("submitimage").onclick = function () {
          storeImage(getCanvasImage());
          location.href = "/game/test";
        };
        </script>

    </main>
    <script type="text/javascript" src="{% static 'take-photo.js' %}"></script>
  </body>
</html>
